body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: rgb(226, 234, 248) !important;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
}

.navbar-logo {
    height: 40px;
    width: auto;
}

.option {
    text-decoration: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.2s ease;
}

.option:hover {
    color: #007BFF;
}

.main-content {
    padding-top: 20px;  /* Adjust based on your navbar's height and preference */
}

.custom-bg {
    background-color: rgb(43, 90, 245) !important;  /* Override Bootstrap's default .bg-info color */
}

section h2 {
    margin-bottom: 22px;
    color:#ffffff;
}

section p {
    margin-bottom: 22px;
    color:#ffffff;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-fluid.shadow {
    box-shadow: 10px -10px 30px rgba(0, 0, 0, 0.2) !important;
}

.stretch-image {
    width: 60%; 
    height: 100%; 
    object-fit: cover;
}
/* Existing button styles */
.btn-round {
    background-color: #ffffff; /* White background */
    color: #3498db; /* Blue text color */
    border: 2px solid #3498db; /* Blue border */
    border-radius: 25px; /* This makes the button edges round */
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-round:hover, .btn-round:focus {
    background-color: #39a9f3; /* Blue background on hover/focus */
    color: #ffffff; /* White text on hover/focus */
    outline: none; /* Remove the default focus outline */
}

.btn-round:active {
    background-color: #2980b9; /* A darker shade of blue when the button is active */
    color: #ffffff; /* White text when the button is active */
}

.feature-in-title {
    color: #4b4848; /* Dark gray, but you can adjust as needed */
    font-size: 15px;
    font-weight: 500;
}

.distinct-name {
    display: inline-block;
    color: #199af0;
    margin: 0 -5px;
    line-height: 1.2;
}

.distinct-name-alpha {
    font-size: 30px;
    font-family: 'Georgia', serif;
    font-weight: bold;
    float: right;
}

.distinct-name-bravo {
    font-size: 28px;
    font-family: "Trirong", serif;
    text-transform: uppercase;
}

.distinct-name-charlie {
    font-size: 22px;
    font-family: Copperplate, Papyrus, fantasy;
    text-transform: lowercase;
    float: left;
}

.distinct-name-delta {
    font-size: 26px;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    float: right;
}

.distinct-name-echo {
    font-size: 30px;
    font-family: 'Georgia', serif;
    float: left;
}

.about-me-title {
    color: #4b4848; /* Dark gray, but you can adjust as needed */
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.about-me-details {
    color: #000000;
    font-size: 25px;
    text-align: center; /* This will center the text inside the element */
}

.about-me-image {
    border: 1px solid #5397f0;
    border-radius: 50%;
    width: 50%;
    max-width: 300px;
    display: block;
    margin: 20px auto;
}

.about-me-text {
    color: #383737;
    font-size: 12px;
    text-align: center;
    margin: 0 0 10px;
    line-height: 1.5;
}

.favicons {
    display: flex;
    justify-content: center; /* This centers the items horizontally */
    flex-wrap: wrap; /* This allows the items to wrap to the next line if there's not enough space */
    gap: 15px; /* This adds some space between the favicons */
}

.favicons img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Service Title */
.service-title {
    color: #4b4848; /* Dark gray, but you can adjust as needed */
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

/* Service Details Header */
.service-detail {
    color: #000000;
    font-size: 25px;
    text-align: center; 
}

/* Bullet Points */
.service-list {
    list-style-type: disc;
    padding-left: 40px; /* Indentation for bullet points */
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Button */
.service-btn {
    font-size: 13px;
    display: inline-block; 
    background-color: white;
    color: #3498db;
    padding: 5px 30px;
    border-radius: 40px; 
    border: 1px solid #3498db;
    margin: 15px 5px 10px 5px;
    text-align: center;
}

/* On hover of service button, change its background and text color */
.service-btn:hover {
    background-color: #3498db;
    color: white;
}

.service-section h3 {
    font-size: 26px;
    font-weight: bold;
    color: #333;  /* Dark gray color */
    margin-bottom: 20px;  /* Spacing after the h3 tag */
    text-align: left;  /* Align the text to the left */
    font-family: 'Georgia', sans-serif;  /* Set the font family to Georgia */
}
.service-section p {
    color: #0f0f0f;
    font-size: 12px;
    text-align: left;
    line-height: 1.5;
    margin-right: 10%;
}
/* Service Image */
.service-image {
    width: 100%; 
    max-width: 60%;  /* Ensuring it doesn't grow beyond 60% */
    height: auto;
    object-fit: cover;
    border-radius: 10%;
    margin: 0 auto;
}

.service-list {
    list-style-type: none;  /* Removing the default bullets */
    padding-left: 0;  /* Remove default padding */
    font-size: 12px;  /* Smaller font size */
    font-weight: 500;
}

.service-list li {
    position: relative;  /* Setting the position to relative to place the tick mark */
    padding-left: 25px;  /* Space for the tick mark */
    line-height: 1.5;  /* Adjusting space between lines */
}

/* Using a pseudo-element to create the tick mark */
.service-list li:before {
    content: '✔';  /* Tick mark symbol */
    position: absolute;
    left: 0;
    font-size: 12px;  /* Adjust tick mark size if necessary */
    color: green;  /* Color for the tick mark */
}

.btn-custom {
    background-color: white;
    color: #007BFF; /* Bootstrap primary color */
    border: 2px solid #007BFF; /* Border with Bootstrap primary color */
    padding: 30px 20px; /* Button padding */
    border-radius: 30px; /* Rounded edges */
    transition: 0.3s ease; /* Smooth transition for hover effects */

    /* Hover effect: change background and text color */
    &:hover {
        background-color: #007BFF; /* Bootstrap primary color */
        color: white;
    }
}

.column-box {
    background-color: white;
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.column-image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.column-box h4, 
.column-box p {
    padding-left: 15px;   /* Add space to the left */
    padding-right: 15px;  /* Add space to the right */
    margin-top: 10px;    /* Add space to the top */
    margin-bottom: 10px; /* Add space to the bottom */
    text-align: left;
}


.column-box h4 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    font-family: 'Georgia', sans-serif; 
}

.column-box p {
    color: #0f0f0f;
    font-size: 12px;
}
footer.bg-primary {
    width: 100%;
    height: 500px; /* Adjust as required */
    background-color: #add7fa !important;
    color: #ffffff;
    border-top-left-radius: 50vw;
    border-top-right-radius: 50vw;
    overflow: hidden;
    padding: 20px; /* For inner spacing */

    /* Flexbox properties to center the content */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
}

.footer-section {
    margin-bottom: 20px; /* Space between sections */
    text-align: center; /* Align the text to the center */
    color: #33414b;
}

.footer-section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the images */
}

.footer-section p, .footer-section h2, .footer-section h3 {
    margin: 5px 0;
}

.footer-section h3{

    font-size: 14px;
    font-weight: bold;
    color: #33414b;
    font-family: 'Georgia', sans-serif; 
}
.footer-section p{
    color: #33414b;
    font-size: 12px;
}

.footer-section button {
    display: block;
    margin: 10px auto; /* Center the buttons */
}

.row {
    display: flex;
    justify-content: center; /* Center columns */
    width: 100%;
}

.col {
    flex: 1;
    margin: 0 10px; /* Spacing between columns */
}
